<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">
    <featureManager>
        <feature>webProfile-7.0</feature>
    </featureManager>
   <featureManager>
       <feature>ssl-1.0</feature>
     </featureManager>
     <keyStore id="defaultKeyStore" password="Liberty" />
    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="9080"
                  host = "*" 
                  httpsPort="9443" />
    <applicationManager autoExpand="true"/>